@{
    ViewData["Title"] = "Privacy2 Policy";
}
<h1>@ViewData["Title"]</h1>
<h2>@ViewBag.Nombre</h2>
<img src="~/img/@ViewBag.Imagen"/>
<p class="text-color">Use this page to detail your site's privacy policy.</p>
